.navbar .navbar-brand{
    color: goldenrod;
    font-weight: bold;
}

body{
    background-color: burlywood;
}

.bodypad{
    padding-top:40px;
}

.bubble{
    background-color: white;
    border-radius: 16px;
}

@media (max-width: 600px) {
    .navbar {
        background-color: goldenrod !important;
    }

    .navbar .navbar-brand{
        color: white;
        font-weight: bold;
    }
}